@page
@model PrivacyModel
@{
    ViewData["Title"] = "Current position";
}
<h1>@ViewData["Title"]</h1>
<style>
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<p>Go to Home</p>
<div id="map"></div>

<input class="loginInput" id="sessionUser" value="@Model.MemberId" hidden />


